*.swp
*.pyd
*.pdf
*.pyc
*.hdf5
*.log
dist
build
*.png
*.pstats
*.html
*.gz
*.bin
*.sh
*.so
*.binh
*.pytest
*.zip
*.bil
*.hdr
*.xml
*.stx
.coverage
examples/data/
src/hydrodiy/gis/tests/*.png
src/hydrodiy/gis/tests/*.png
src/hydrodiy/gis/tests/*.kml
src/hydrodiy/gis/tests/*.cpg
src/hydrodiy/gis/tests/*.dbf
src/hydrodiy/gis/tests/*.shp
src/hydrodiy/gis/tests/*.shx
src/hydrodiy/plot/tests/images/
src/hydrodiy/stat/tests/__pycache__/
src/hydrodiy/io/tests/script_test*
src/hydrodiy/gis/tests/grid_test.bil
src/hydrodiy/data/c_hydrodiy_data.c
src/hydrodiy/stat/c_hydrodiy_stat.c
src/hydrodiy/gis/c_hydrodiy_gis.c
hydrodiy.egg-info
nosetests.xml
nohup.out
listmembers.csv
