*.swp
*.pyc
*.hdf5
*.log
dist
build
*.png
*.pstats
*.html
*.gz
*.bin
*.so
*.binh
*.pytest
hydrodiy/hygis/tests/*
hydrodiy/hymod/c_hymod.c
hydrodiy/hydata/c_hydata.c
hydrodiy/hystat/c_hystat.c
hydrodiy.egg-info


