*.swp
*.pyd
*.pdf
*.pyc
*.hdf5
*.log
dist
build
*.png
*.pstats
*.html
*.gz
*.bin
*.sh
*.so
*.binh
*.pytest
*.zip
*.bil
*.hdr
hydrodiy/gis/tests/*.png
hydrodiy/gis/tests/*.png
hydrodiy/gis/tests/*.kml
hydrodiy/gis/tests/*.cpg
hydrodiy/gis/tests/*.dbf
hydrodiy/gis/tests/*.shp
hydrodiy/gis/tests/*.shx
hydrodiy/gis/tests/grid_test.bil
hydrodiy/data/c_hydrodiy_data.c
hydrodiy/stat/c_hydrodiy_stat.c
hydrodiy/gis/c_hydrodiy_gis.c
hydrodiy.egg-info
nosetests.xml
nohup.out

