recursive-include hydrodiy *zip
recursive-include hydrodiy *csv
recursive-include hydrodiy *png
recursive-include hydrodiy *pngw
recursive-include hydrodiy *.h
recursive-include hydrodiy *txt
recursive-include hydrodiy *csv.gz
recursive-include hydrodiy *tar.gz
recursive-include hydrodiy *py.gz
recursive-include hydrodiy *json
recursive-include hydrodiy *test*.py
include versioneer.py
include hydrodiy/_version.py
